
.el-input__wrapper{
    background-color: transparent;
    // border: 1px solid #024b93;
}
.el-input__inner{
    background-color: transparent;
}

.el-form-item__label{
    color: #fff;
}
.el-tabs__nav-wrap::after{
    background-color: #021438;
}

.el-tabs__item{
    color: #fff;
    font-size: 18px;
}

