// .table_text {
//     color: #fff;
//     display: flex;
//     justify-content: center;
//     // height: 46px;
// }
// :deep(.el-picker-panel .el-time-panel){
//   background-color: #012e5c !important;
// }
.el-select-dropdown__item.selected {
  background-color: #05519a;
}

.el-button.is-text,
.el-button.is-text:not(.is-disabled):focus,
.el-button.is-text:not(.is-disabled):hover {
  background-color: #003263 !important;
  color: #fff;
}

.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  background-color: #003263;
  color: #409eff;
  border: 1px solid #003263;
}

.el-date-editor .el-range-input {
  color: #fff;
}

.condtion {
  display: flex;
  flex-direction: row;
}

.el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{
  background-color: #051e39;
}

.el-table__inner-wrapper::before{
  background-color: #051e39;
}



.qipao {
  color: #000;
  z-index: 9999;
  position: absolute;
  width: 260px;
  height: 64px;
  overflow-y: auto;
  padding: 11px;
  // min-height: 80px;
  // margin: 20px 0 20px 200px;
  // margin-left: 200px;
  // margin-top: 20px;
  background: #cdcfb9;
  text-align: center;
  // line-height: 20px;
  // padding-top: 20px;
  // padding-left: 10px;
  // padding-right: 10px;
  font-size: 16px;
  border-radius: 50%;
  overflow-x: hidden;
  margin: 0px auto;
  display: none;
  opacity: 0.98;
}

.demo {
  z-index: 8888;
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0.98;
  background: #cdcfb9;
  transform: rotate(70deg);
  margin-left: 20px;
  margin-top: -105px;

  display: none;
}

.el-tree {
  background-color: transparent;
}

.nodetext {
  white-space: pre-wrap;
  /* background-color:pink; */
  /* color:red; */
}

.titleStyle {
  font-size: 16px;
  color: #fff;
  margin-left: 20px;
}
.back {
  display: flex;
  align-content: center;
  color: #2c3e50;
  height: 100%;
}
.node-icon-item {
  width: 26px;
  height: 22px;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: inline-block;
  background-image: url("../../assets/attackbacktrack/pc.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.tree-node-item {
  width: 100%;
  color: #fff;
  display: block;
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.node-active {
  width: 100%;
  // height: 41px;
  color: #1f8cfe;
  background-color: #2c4672;
  // padding-left: 20px;
  // margin-left: -17px;
  border-radius: 0px;
}
.el-tree .is-current {
  width: 100%;
  color: #1f8cfe;
  // padding-left: 20px;
  border-radius: 0px;
  background-color: #2c4672;
}
.node-error-status {
  width: 13px;
  height: 11px;
  position: absolute;
  bottom: 0;
  left: 13px;
  top: 11px;
  z-index: 1;
  display: inline-block;
  background-image: url("../../assets/attackbacktrack/node_error.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.node-offline-status {
  width: 13px;
  height: 11px;
  position: absolute;
  bottom: 0;
  left: 13px;
  top: 11px;
  z-index: 1;
  display: inline-block;
  background-image: url("../../assets/attackbacktrack/node_offline.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.node-online-status {
  width: 13px;
  height: 11px;
  position: absolute;
  bottom: 0;
  left: 13px;
  top: 11px;
  z-index: 1;
  display: inline-block;
  background-image: url("../../assets/attackbacktrack/node_online.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.node-text {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
  &:hover {
    cursor: pointer;
    color: #1f8cfe;
  }
}

.new-tree-style {
  overflow: hidden;
  width: 100%;
  right: 6px;
  top: 55px;
  border-radius: 5px;
  font-size: 22px;
}
.el-tree {
  --el-tree-node-hover-bg-color: #2c4672;
}
.el-tree-node__content {
  height: 40px;
}

.el-tree-node.is-expanded.is-current.is-focusable,
.el-tree-node__content:hover,
.el-tree-node__content:focus {
  background-color: #2c4672;
  color: #2283fe;
  height: 40px;
}
.nodeinfo {
  background-color: rgba(1, 46, 90, 0.2);
  color: #2c3e50;
  height: 100%;
  min-height: 969px;
  width: 300px;

  .left-title {
    left: 93px;
    top: 22px;
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
}
.treeinfo {
  flex: 1;
  border-left: 1px solid #ccc;
  position: relative;
  height: 100%;
  min-height: 969px;
  margin-bottom: 30px;
  background-image: url("../../assets/bigScreen/menu/backImg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // position: absolute;
  // height: 100%;
  // width: 100%;
  // left: 0px;
  // top: 20px;
  // overflow-y: auto;
}
.condtion {
  position: absolute;
  float: right;
  z-index: 1001;
  margin-left: 300px;
}

.tree-container{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 20px;
}

#tree {
  // position: absolute;
  // height: 100%;
  // width: 100%;
  left: 0px;
  top: 20px;
  // overflow: hidden;
  /* background-image:url('../../assets/back.jpg'); */
}


#particles {
  position: absolute;
  width: 100%;
  background-color: #2d2d2d;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 969px;
  left: 0px;
  top: 0px;
}
.table_attacks_text,
.table_text {
  color: #000;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  word-break: break-all;
  text-align: left;
  padding: 15px 0px 15px 15px;
  border-radius: 16px;

  // border: 1px solid #1970b3;
  // width: 90%;
  // line-height: 18px;
  // background-color: #9ab1d4;
  border: 1px solid #a9bad7;
  font-size: 18px;
  // margin-top: 2px;
}

.table_attacks_text {
  color: #fff;
  background-color: #be2b37;
  border-radius: 16px;
}

.attack_node {
  color: #00ffff;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 20px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#record {
  z-index: 1200;
  display: none;
  width: 200px;
  height: auto;
  position: absolute;
  color: #000;
  background-color: #cdcfb9;
  padding: 10px;
}
#record div {
  line-height: 25px;
  height: 25px;
  font-size: 12px;
  display: block;
  cursor: pointer;
}

.record_item:hover{
  background-color: #e5ebaa;
}

.person {
  background-image: url("../../assets/attackbacktrack/no.png");
}

.attack-backtrack {
  height: calc(100vh - 100px);
  width: 100%;
  // padding-left: 40px;
  // padding-right: 40px;
  overflow-y: hidden;
  background-color: #04132f;
  display: flex;
  flex-direction: row;
}

.el-input.is-disabled .el-input__wrapper {
  background-color: #05162f;
  color: #fff;
}

.el-tree-node__expand-icon.is-leaf {
  display: none;
}

.el-table tr,
.el-table th.el-table__cell {
  background-color: #05162f;
  color: #fff;
}

:deep(.el-table__empty-block) {
  background-color: #071745;
}
:deep(.el-table::before) {
  background-color: #155ebd;
}

:deep(.el-table th.el-table__cell.is-leaf) {
  border-bottom: 1px solid #094794;
}

:deep(.el-table tr) {
  background-color: #071045;
  border-bottom: #003263;
}

:deep(.el-table__body tr:hover > td.el-table__cell) {
  background-color: #071045;
}
:deep(.el-table__body tr:hover > td) {
  background-color: #071045 !important;
}
